
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



body {margin: 0;background-color: #d7621a; font-family: "Inter", sans-serif;
} 
html, body { height: 100%; }

.mat-tab-label{
    width: 50%;
}

.mat-tab-body.mat-tab-body-active {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    flex-grow: 1;
    min-height: 300px;
}
