.wrapper{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;



    .group-container{
        width: 80%;
        background-color: white;
        border-radius: 10px;
        height: 350px;
    }

        .groups-ideas{
            margin-top: 100px;
        }

        .title{
            display: flex;
            justify-content: space-between;
            padding: 30px;
            background-color: #2f2c2b;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .group-name{
                font-size: 25px;
            }

            .members-count-and-join{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .members-count{
                    margin-top: 5px;
                }
            }
        }

        .description{
            padding: 30px;
        }
    }
