.messages-template{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;

    .messages{
        width: 50%;
    }

    .input-wrapper{
        width: 50%;
    }
}