.message-wrapper{
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.sent{
    justify-content: flex-end;

    .message-body{
        background-color: black;
        color: white;
    }

}

.message-wrapper .received{
    justify-content: flex-start;

    .message-body{
        background-color: #d7621a;
        color: white;
    }
}

.message-body{
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;

}
