.header-wrapper{
    height: 70px;
}
header{
    box-sizing: border-box;
    height: 70px;
    background-color: #2f2c2b;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 100px;
    position: fixed;
    z-index: 10000;



    a{
        text-decoration: none;
    }

    .name-links{
        display: flex;
        justify-content: space-between;

        .link{
            margin-left: 70px;
        }
    }
}

.name{
    color: white;
    font-family: "Inter",sans-serif;
    font-size: 20px;
}
.userInfo{
    width: 200px;
    display: flex;
    justify-content: space-around;

    span{
        color: white;
        font-size: 17px;
    }
}