:host{
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 90%;
    background-color: #d7621a;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    color: black;

}