:host{
    display: flex;
    justify-content: center;
}

.icon{
    width: 20px;
    margin-right: 5px;
}
.arrow{
    width: 3px;
    background-color: green;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px rgb(0 0 0 / 14%), 0 1px 3px rgb(0 0 0 / 12%);
}
.main-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-element{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px rgb(0 0 0 / 14%), 0 1px 3px rgb(0 0 0 / 12%);
    box-sizing: border-box;
    flex-direction: column;

    .header{
        background-color:#2f2c2b;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 50px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 25px; 
        padding-right: 25px; 


        .user-name{
            font-size: 12px;
        }
    }

    .element-body{
        width: 100%;
        min-height: 200px;
        padding: 20px;
        border: 1px solid grey;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: none;

        .approve-button{
            align-self: flex-end;
        }
    }
}