<div class="main-wrapper">
    <div class="arrow" *ngIf="onlyApproved"></div>
    <div class="wrapper-element">
        <div class="header">
            <div>
                <div class="idea-name">
                    {{element.name}}
                </div>
                <div class="user-name">
                    Alex
                </div>
            </div>
            <div *ngIf='onlyApproved'>
                <img class='icon' src="assets/images/checked.png" />
                <span>Approved</span>
            </div>
        </div>

        <div class="element-body">
            {{element.description}}
        </div>
    </div>
</div>

