<div class="idea-wrapper" *ngIf="Idea">
    <div class="idea-header">
        <div class="conatiner">
            {{Idea.name}}
            <div class="circle-name">
               <div class="circle-avatar"></div>
               <div class="user-name">Alexey Zhurauliou</div>
           </div>
        </div>
        <div class="stack">
            <span *ngFor="let i of Idea.stack">
                {{i}}
            </span>
        </div>
    </div>
    <div class="idea-descriptions">
        <div class="idea-desc">
            {{Idea.description}}
        </div>
        <div class="idea-info">
            <div class="info-header">
                Idea info
            </div>
            <div class="idea-info-body">
                Some info
            </div>
        </div>
    </div>
</div>