<div class="idea-wrapper" *ngIf="Idea">
    <div class="idea-header" [class]="class">
        <div class="name-icon">
            <div class="conatiner">
                {{Idea.name}}
                <div class="circle-name">
                   <div class="circle-avatar"></div>
                   <div class="user-name">Alexey Zhurauliou</div>
               </div>
            </div>
            <div *ngIf="Idea.isLikedByCurrentUser" (click)="removeLike(Idea.id)">
                <img class='like-icon active' src="/assets/images/like-red.svg" >
            </div>
            <div *ngIf="!Idea.isLikedByCurrentUser" (click)="addLike(Idea.id)">
                <img class='like-icon inactive' src="/assets/images/likeborder.svg" >
            </div>
        </div>
        <div class="category">
            {{Idea.categoryString}}
        </div>
    </div>
    <div class="idea-descriptions" (click)="redirect(Idea.id)">
        <div class="idea-desc">
            {{Idea.description}}
        </div>
        <div class="idea-info" [class]="class">
            <div class="info-header">
                Idea info
            </div>
            <div class="idea-info-body">
                <span *ngFor="let i of Idea.stack">
                    {{i}}
                </span>
            </div>
        </div>
    </div>
</div>