<div class="wrapper">
    <div class="idea-wrapper" [formGroup]="ideaForm">
        <div class="idea-header">
            <div class="conatiner">
                <input  placeholder="name" formControlName='name'/>
                <div class="circle-name">
                   <div class="circle-avatar"></div>
                   <div class="user-name">Alexey Zhurauliou</div>
               </div>
            </div>
            <div class="category">
                    <mat-label>{{selectedOption}}</mat-label>
                    <mat-select multiple formControlName="category" (selectionChange)="changeCategory($event)" >
                      <mat-option *ngFor="let suit of category" [value]="suit.title"  [attr.selected] ="suit.title === selectedOption">
                        {{suit.title}}
                      </mat-option>
                    </mat-select>
            </div>
        </div>
        <div class="idea-descriptions">
            <div class="idea-desc">
                <input formControlName="description"  placeholder="desc" type="text"/>
            </div>
            <div class="idea-info">
                <div class="info-header">
                </div>
                <div class="idea-info-body" formArrayName="stack" style="flex:1;">
                    <ng-container *ngFor="let stack of getFormsControls()['controls']; let i = index;" class="stack">
                        <input type='text' formControlName={{i}}/>
                    </ng-container>
                </div>
                <button (click)="addStack()" type="button" id="addStack" class="btn btn-warning">Add Stack</button>
            </div>
        </div>
        <button (click)="send()" type="button" class="btn btn-dark" id="send">Create</button>
    </div>
</div>
