<div class="wrapper" *ngIf="user">
    <div class="profile-div" (click)="redirect(user.userName)">
        <div class="header">
            <div class="profile-image">
                
            </div>
            <div class="user-name">
                {{user.firstName}} {{user.lastName}}
            </div>
        </div>
        <div class="body">
            <div>
                {{user.email}}
            </div>
            <div>
                {{user.age}}
            </div>
        </div>
    </div>
</div>